.questionNumber {
  color: #000;
  font-family: Noto Sans;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}

.critQuestionsH3 {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem; /* 120% */
  width: 14rem;
  margin-left: auto;
  margin-right: auto;
}

.testTable {
  margin-left: auto;
  margin-right: auto;
  width: 35rem;
  margin-top: 4rem;
  text-align: center;
}

.question {
  color: #00426b;
  font-family: Bitter;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.03713rem;
}

.questionAnswer {
  padding: 5rem;
}

.asterisk {
  color: #900000;
  font-family: Bitter;
  font-size: 2.45506rem;
  font-weight: 500;
}

.nextButton {
  color: #fff;
  font-family: Noto Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  border: none;
  padding: 1rem;
  width: 32rem;
  border-radius: 2rem;
  background: #dde5ed;
  margin-bottom: 3rem;
}

.selectButtonLeft,
.selectButtonMiddle,
.selectButtonRight {
  color: #00426b;
  background: #fff;
  border: none;
  font-family: Noto Sans;
  font-size: 1.3rem;
  font-weight: 400;
  border: 1px solid #d9d9d9;
  padding: 0.8rem 3rem 0.8rem 3rem;
  margin-top: 2rem;
}

.selectButtonLeft {
  border-radius: 1rem 0rem 0rem 1rem;
}

.selectButtonRight {
  border-radius: 0rem 1rem 1rem 0rem;
}

.nextButton:hover,
.selectButtonLeft:hover,
.selectButtonMiddle:hover,
.selectButtonRight:hover {
  cursor: pointer;
}

.reqQuestionsInput {
  border-radius: 0.8rem;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding: 1rem;
  width: 20rem;
}

.positiveNegative {
  color: #fff;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 100% */
  border: none;
  border-radius: 1.875rem;
  background: #0058b7;
  padding: 0.8rem 1rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 2rem;
}

.positiveNegative:hover {
  cursor: pointer;
}

.otherButton {
  border: none;
  color: #0058b7;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  background: none;
}

.otherButton:hover {
  cursor: pointer;
}

.react-datepicker {
  color: #00426b !important;
  font-family: Noto Sans;
  font-size: 1rem;
  background-color: none !important;
  border: none !important;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.react-datepicker__current-month {
  color: #00426b !important;
  font-family: Noto Sans;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 700 !important;
}

.react-datepicker__header {
  background-color: #fff !important;
  border-bottom: none !important;
}

.react-datepicker__day-names {
  color: #00426b !important;
  font-family: Noto Sans !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  margin-top: 10px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #00426b !important;
  font-family: Noto Sans !important;
}

.react-datepicker__day {
  font-size: 0.9rem;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #fff !important;
  color: #00426b !important;
  font-family: Noto Sans !important;
  font-weight: bold;
  font-size: 0.9rem !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #fff !important;
  color: #00426b !important;
  font-weight: bold;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #fff !important;
  font-weight: bold;
}

.calendarText {
  width: 30rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
}

.selectButtonLeft.selected,
.selectButtonMiddle.selected,
.selectButtonRight.selected {
  background-color: #52EAFF;
}
