.questionNumber {
color: #000;
font-family: Noto Sans;
font-size: 1.3rem;
font-weight: 400;
display: flex;
justify-content: space-between;
width: 22rem;
margin-left: auto;
margin-right: auto;
padding-top: 3rem;
}

.question {
color: #00426B;
font-family: Bitter;
font-size: 2.45506rem;
font-weight: 500;
line-height: 2.03713rem;
}

.questionAnswer {
padding: 5rem;
}

.asterisk {
color: #900000;
font-family: Bitter;
font-size: 2.45506rem;
font-weight: 500;
}

.nextButton {
color: #FFF;
font-family: Noto Sans;
font-size: 1.3rem;
font-style: normal;
font-weight: 600;
border: none;
padding: 1rem;
width: 32rem;
border-radius: 2rem;
background: #DDE5ED;
margin-bottom: 3rem;
}

.selectButtonLeft, .selectButtonMiddle, .selectButtonRight {
color: #00426B;
background: #FFF;
border: none;
font-family: Noto Sans;
font-size: 1.3rem;
font-weight: 400;
border: 1px solid #D9D9D9;
padding: 0.8rem 3rem 0.8rem 3rem;
margin-top: 2rem;
}

.selectButtonLeft {
    border-radius: 1rem 0rem 0rem 1rem;
}

.selectButtonRight {
    border-radius: 0rem 1rem 1rem 0rem;
}

.nextButton:hover, .selectButtonLeft:hover, .selectButtonMiddle:hover, .selectButtonRight:hover {
    cursor: pointer;
}

input {
border-radius: 0.8rem;
border: 1px solid #D9D9D9;
background: #FFF;
color: #00426B;
font-family: Noto Sans;
font-size: 1rem;
font-style: normal;
font-weight: 400;
padding: 1rem;
width: 20rem;
}