/* Review and Submit Page CSS */
.reviewAndSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F9FA;
    width: 100%;
    height: auto;
    padding: 50px;
}

.reviewAndSubmitGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F7F9FA;
    width: 100%;
}

.reviewLeftGrid {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviewCustomSite {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


@media (max-width: 2000px) {
    .reviewAndSubmitGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .reviewLeftGrid {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .reviewCustomSite {
        
        grid-column-start: 1;
        grid-row-start: 2;
    }
}




.reviewLabel {
    color: #8D8D8D;
    font-family: Noto Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    /* 192.857% */
}

.reviewAndSubmitInput {
    background: none;
    border-bottom: 1px solid #8D8D8D;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 66px;
    width: 456px;
    font-family: Noto Sans;
}

.reviewAndSubmitDiv {
    text-align: left;
    margin: 0rem 5rem 0rem 5rem;
    color: #00426b;
}

.reviewAndSubmitDiv>p {
    font-family: Noto Sans;
    color: #00426b;
}


.goBackSubmit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 50px 50px;
    width: 456px;
}


.siteBuildBlueButtonReview {
    color: #fff;
    text-align: center;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    background: #0058b7;
    width: 230px;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}