/* Request Confirmation */

#backlinkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
#leftAngleArrow {
    margin-right: 1%;
}

.requestConfirmationBox {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 12%;
  margin-bottom: 8%;
}

#requestH2 {
    color: #00426B;
    text-align: center;
    font-family: Bitter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#requestP {
  color: #00426b;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem;
  width: 39rem;

}
#requestTextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
