.backtoPartnerPage {
  margin-left: 90px;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
}

.siteBuildHeaderC>h1 {
  color: #00426b;
  text-align: center;
  font-family: Bitter;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

.siteBuilderHeaderC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 50px;
}

.siteBuilderHeaderC>p {
  margin-bottom: 50px;
}


.siteBuildFormC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7f9fa;
  width: 100%;
  height: auto;
}

.siteBuildForm>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;

}

.siteBuildFormInputC {
  width: 80%;
  border-radius: 7px;
  border: 1px solid #8D8D8D;
  padding: 1rem;
  margin: 1.5rem;

}

.siteBuildFormLabel>label {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  margin: 1rem 0 1rem 0;
  font-style: normal;
  line-height: 36px;
  /* 120% */
}

.siteBuildPC {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 14px;
}

.siteBuildFormLabel {
  text-align: left;

}

.siteBuildContinueButtonC {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

@media (max-width: 900px) {
  .siteBuildContinueButtonC {
  flex-direction: column;
  }
}


.formHeaderC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 1300px;
}

.formLeftGrid {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-column-start: 1;
}

.formRightGrid {
  grid-column-start: 2;
}

.formLeftHeader {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
  margin-left: 15px;
}
.formHeaderH2C {
  color: #00426b;
  font-family: Bitter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  width: 100%;
}

.formHeaderPC {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 14px;
}


.siteBuildBlueButtonC {
  color: #fff;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 100% */
  border: none;
  border-radius: 1.875rem;
  background: #0058b7;
  min-height: 2.5rem;
  padding: .62rem 2.18rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: .625rem;
}

@media (max-width: 768px) {
  .siteBuildBlueButtonC {
    margin: .75rem;
    min-height: 1.75rem;
    padding: 1rem 3rem;
    font-size: 1rem;

  }
}
.siteBuildBlueButtonC:hover {
  cursor: pointer;
}

.siteBuildCGrid {
  display: grid;
  grid-template-columns: 7fr 3fr;
  width: 1512px;
  height: auto;
  background: #f7f9fa;

}

.siteBuildCGrid>form {
  grid-column: 2;
}

#logo {
width: 367px;
height: 46px;
}

#cover_photo {
  width: 367px;
  height: 46px;
}


/* --------------- mini site ------------------ */

.customSite {
  width: 732px;
  height: 499px;
  
  
}