.btn-primary {
  --bs-btn-color: #00426b;
  --bs-btn-bg: #52eaff;
  --bs-btn-border-color: #d9d9d9;
  --bs-btn-hover-color: #00426b;
  --bs-btn-hover-bg: #52eaff;
  --bs-btn-hover-border-color: #52eaff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #52eaff;
  --bs-btn-active-bg: #52eaff;
  --bs-btn-active-border-color: #52eaff;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #00426b;
  --bs-btn-disabled-bg: #52eaff;
  --bs-btn-disabled-border-color: #d9d9d9;
}

.btn-secondary {
  --bs-btn-color: #00426b;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #d9d9d9;
  --bs-btn-hover-color: #00426b;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #d9d9d9;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #00426b;
  --bs-btn-active-bg: #52eaff;
  --bs-btn-active-border-color: #d9d9d9;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

#optionalQuestionsNextButton {
  color: #fff;
  font-family: Noto Sans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  border: none;
  padding: 1rem;
  width: 32rem;
  border-radius: 2rem;
  background: #0058b7;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.optionalQuestions {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 3rem;
  text-align: left;
}

.optionButtons {
  font-family: Noto Sans;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.8rem 3rem 0.8rem 3rem;
}

.questionsDiv {
  width: 42rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.btn-group {
  width: 42rem;
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
}

.two-columns .optionButtons {
  flex-basis: 45%;
  border-radius: 0;
  margin-bottom: 0;
}

/* Target the first button of the group */
.two-columns .optionButtons:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px !important;
}

/* Target the last button of the group */
.two-columns .optionButtons:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px !important;
}

#optionalQuestionsBackArrow {
  font-family: Bitter;
  display: flex;
  width: 42rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

#optionalQuestionsBackArrow img {
  margin-right: 2rem;
}
