@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Noto+Sans:wght@400;600&display=swap");

h1 {
  color: #00426b;
  text-align: center;
  font-family: Bitter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  color: #00426b;
  text-align: center;
  font-family: Bitter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h3 {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem; /* 120% */
}

.blueButton {
  color: #fff;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 100% */
  border: none;
  border-radius: 1.875rem;
  background: #0058b7;
  padding: 1.25rem 4.313rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 1.25rem;
}

.blueButton:hover {
  cursor: pointer;
}

.dissolveEffect {
  opacity: 1;
  transition: opacity 100ms ease-out;
}

.dissolveEffect:active {
  opacity: 0;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* NAV  */
.nav-container {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #00426b;
  font-family: Bitter;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  /* margin: 4px; */
  height: 80px;
  font-weight: bold;
  border-bottom: 1px solid #B3B3B3;
  background: #FFF;
}

.nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  margin-right: auto;
  padding-top: 15px;
}

.nav-list-item a {
  list-style: none;
  text-decoration: none;
  color: #00426b;
  cursor: pointer;
}

.nav-list-right {
  /* display: flex;  */
  gap: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
  
}
.nav-list-item-icon {
  width: 20px;
  padding: 4px;
}
.nav-list-item-espanol {
  text-decoration: none;
  color: #00426B;
  font-weight: bold;
}

/* Hamburger Menu Styles */

.nav-hamburger {
  display: none; /* Hide the hamburger menu by default on larger screens */
  cursor: pointer;
}

.hamburger-line {
  width: 25px;
  height: 4px;
  background-color: #00426b;
  margin: 5px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

/* Media query for smaller screens (mobile) */

@media screen and (max-width: 800px) {
  .nav-list {
    display: none; /* Hide the menu by default on mobile screens */
  }

  .nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
  }
  .Logo {
    margin-right: 4.8rem;
  }
  
  .nav-hamburger {
    display: flex; /* Show the hamburger menu on mobile screens */
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 10px;
    /* background-color: #1f304f; */
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
  }

  .nav-list.show {
    display: flex; /* Show the menu when the hamburger is clicked */
    flex-direction: column;
    position: absolute;
    top: 90px; /* Adjust this value to control the distance from the top */
    right: 10px;
    background-color: #1f304f;
    padding: 10px;
    border-radius: 5px;
    z-index: 999; /* Ensure the menu is above other content */
  }

  .nav-list-item {
    margin: 5px;
  }
  .nav-list-item a {
    text-decoration: none;
    color: white; /* White text color */
  }
  /* .nav-list-item-espanol {
    color: white;
  } */

  .nav-list-item-icon {
    color: white;
  }

  .hamburger-line.open:nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 6px);
  }

  .hamburger-line.open:nth-child(2) {
    opacity: 0;
  }

  .hamburger-line.open:nth-child(3) {
    transform: rotate(45deg) translate(-3px, -6px);
  }

  .blueButton {
    padding: .75rem 2rem;
    font-size: 0.9rem;
    display: inline-flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .home-page {
    height: 100vh;
    flex-direction: column-reverse;
    padding: 1rem;
    margin-top: 7rem;
  }

  .home-h1 {
    font-size: 2.8rem!important;
  }
  .home-text p {
    text-align: center;
    font-size: 0.85rem;
    padding: 0.5rem;
  }
  .home-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 20px;
  }
  
  .responsive-image {
    width: 100%;
    max-height: 25vh;
    object-fit: contain;
    margin-top: 10rem;
  }
  
  .home-p2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homeSection {
    max-width: 60%;
    margin-right: 2rem;
  }
  .siteBanner {
    display: flex;
    margin-top: 12rem;
  }

  .nav-list-right {
    margin-right: 0px;
    
  }

}

/*home-landing-reporting*/
.home-page {
  display: flex;
  height: 40rem;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 2rem;
}
/* style={{ height: '40rem', display: 'flex', alignItems: 'center', justifyContent: 'center' }} */

.responsive-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 520px;
  width: auto;
}
/* style={{ color: '#00426b', fontSize: 18, padding: 20 }} */
.home-paragraph {
  color: #00426B;
  font-size: 18px;
  padding: 20px;
}

.homeSection {
  max-width: 100%;
  height: auto;
  margin: .05rem 1rem 2rem 0 ;
  
}

.home-text {
  text-align: center;
  padding: 1rem;
  font-size: 64px;
}

.home-h1 {
  margin: 4rem 4rem 2rem 4rem ;
  color: #00426b;
  font-size: 64px;
  text-align: center;
  font-style: normal;
  /* font-weight: bold; */
}
.home-p {
  /* padding: 6.875rem 5.313rem 6.875rem 5.313rem; */
  background: #e4f5f9;
  color: #00426b;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  background: #E4F5F9;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}


.home-p2 {
  padding: 6.875rem 5.313rem 6.875rem 5.313rem;
  color: #00426b;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.313rem;
}

.h2 {
  margin: 2rem;
  padding: 2.875rem 5.313rem 4.875rem 5.313rem;
}

/* site banner */
.underline-text {
  text-decoration: underline;
}
.siteBanner {
  padding: 1.313rem 5.313rem 1rem 5.313rem;
  background: #e4f5f9;
  color: #00426b;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.313rem;
  background: #E4F5F9;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
/* footer */

.footer-social {
  display: flex;
  margin: 20px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}