/* Partner White Label Page CSS */

*, ::after, ::before {
  box-sizing: inherit !important;
}

.partnerH2 {
  color: #00426b;
  text-align: center;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 50px;
}

.partnerH3 {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem; /* 120% */
  text-align: left;
}

.whyUseMMTCHeader1 {
    margin: 50px 50px 20px 50px;
    color: #00426b;
    text-align: center;
    font-family: Bitter;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
  }
  @media (max-width: 768px) {
    .whyUseMMTCHeader1 {
      margin: 50px 50px 20px 50px;
      color: #00426b;
      text-align: center;
      font-family: Bitter;
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      
    }

  }

  
  .whyUseMMTCHeader3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .partnerWMMTC {
    display: flex;
    /* padding: 7.813rem 17rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    height: 395px;
    
  }
  
  .partneringOptions {
    padding: 10px 5.313rem 6.875rem 5.313rem;
    background: #f7f9fa;
  }

  .imageHover {
    transition: transform 0.2s ease;
  }

  .imageHover:hover {
    transform: scale(1.05);
  }
  
  .partnerWMMTC p,
  .partneringOptions p,
  .exploreTheTool p,
  .whyUseMMTC p {
    color: #00426b;
    text-align: center;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    
  }
  
  .partneringTd {
    vertical-align: top;
    padding: 0rem 3.125rem 3.125rem;
    width: 31.25rem;
  }
  
  .partneringTd p {
    text-align: left;
  }
  
  .partnerUl {
    color: #00426b;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.688rem; /* 150% */
  }

  .partnerUl p {
    padding: 0rem 1.25rem 0rem;
  }

  .partnerUl li {
    background: url("../../../Images/Vector.png") no-repeat left center; 
    padding: 0.313rem 0.625rem 0.313rem 1.563rem;
        list-style: none;
        margin: 0;
        vertical-align: middle;
  }

  .exploreTheTool {
    padding: 5rem;
    align-items: center;
    background: #CBE5FD;
    position: relative;
    background-image: url("../../../Images/ellipsebg.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .exploreTheTool img {
    position: absolute;
  }

  .top-left {
    top: 2.313rem;
    left: 10.25rem;
  }
  
  .top-right {
    top: 2.313rem;
    right: 10.25rem;
  }
  
  .bottom-left {
    bottom: 2.313rem;
    left: 10.25rem;
  }
  
  .bottom-right {
    bottom: 2.313rem;
    right: 10.25rem;
  }
  
  
  .whyUseMMTCUl {
    color: #00426b;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.688rem; /* 150% */
    padding-inline-start: 0rem;
  }
  
.whyUseMMTC {
  padding: 5.875rem 7.313rem 5.875rem 7.313rem;
}

.whyUseMMTC p {
  padding: 1.25rem;
}

  .whyUseMMTCUl {
    list-style: none;
  }
  
  .whyUseMMTCUl li {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
  
  .whyUseMMTCUl li img {
    width: 4rem;
    height: 4rem;
    padding: 1.875rem;
  }
  
  .whyUseMMTCLi {
    margin-bottom: 1rem;
    flex: 1;
    text-align: left;
  }
  

  .partnerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f7f9fa;
    height: 400px;
 
  }

  .partnerHeader>p {
    font-size: 18px;
    color: #00426b;
    font-family: Noto Sans;
    margin: 0 50px;
  }
  