/* Back to Partner Page Link */
.backtoPartnerPage {
  margin-left: 90px;
  display: flex;
  align-items: flex-start;
  margin: 50px 0;
  color: #00426b;
}

.backtoPartnerPage:hover {
  cursor: pointer;
}

/* Site Build Header */
.siteBuildHeaderB>h1 {
  color: #00426b;
  text-align: center;
  font-family: Bitter;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

/* Site Builder Header */
.siteBuilderHeaderB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 3px;
}

.siteBuilderHeader>p {
  margin-bottom: 50px;
}

/* Site Build Form */
.siteBuildFormB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7f9fa;
  width: 100%;
  height: auto;
}

.siteBuildFormB>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 632px;
}

@media (max-width: 768px) {
  .siteBuildFormB>form {
    width: 400px;
  }
  
}

/* Site Build Form Input */
.siteBuildFormInputB {
  width: 632px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #8D8D8D;
  padding: 1rem;
  margin: 1.5rem;
}

@media (max-width: 768px) {
  .siteBuildFormInputB {
    width: 400px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #8D8D8D;
    padding: 1rem;
    margin: 1.5rem;
  }
}

.siteBuildFormLabelB {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/* Site Build Form Label */
.siteBuildFormLabelB>label {
  color: #00426b;
  font-family: Noto Sans;
  font-style: normal;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  display: flex;

}

.siteBuildPB {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 14px;
  margin-top: .25rem;
  text-align: left;
}


/* Form Header B */
.formHeaderB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 70%;
  color: #00426b;
}

@media (max-width: 768px) {
  .formHeaderB {
    flex-direction: column;
  }
}

.formHeaderB>h2 {
  color: #00426b;
  font-family: Bitter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 0.5rem 0;
}

/* Site Build Continue Button B */
.siteBuildContinueButtonB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  width: 95%;
}

@media (max-width: 768px) {
  .siteBuildContinueButtonB {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Site Build Blue Button B */
.siteBuildBlueButtonB {
  color: #fff;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  border: none;
  border-radius: 1.875rem;
  background: #0058b7;
  min-height: 3.75rem;
  padding: 1.25rem 4.313rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 1.25rem;
}

@media (max-width: 768px) {
  .siteBuildBlueButtonB {
    margin: .75rem;
    min-height: 1.75rem;
    padding: 1rem 3rem;
    font-size: 1rem;
  }
}


.siteBuildBlueButtonB:hover {
  cursor: pointer;
}

/* Header PB */
.headerPB {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00426b;
  font-family: Noto Sans;
  font-size: 14px;
  margin: 0 10rem;
}

@media (max-width: 768px) {
  .headerPB {
    margin: 1rem 2rem;
  }
}


@media (max-width: 768px) {
  .backtoPartnerPageB {
    margin-left: 90px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
}