.backtoPartnerPage {
  margin-left: 90px;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #00426b;
}

.backtoPartnerPage:hover {
  cursor: pointer;
}

.siteBuildHeaderB>h1 {
  color: #00426b;
  text-align: center;
  font-family: Bitter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
}

.siteBuilderHeaderB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  .siteBuildHeaderB>h1 {
    font-size: 2rem;
    margin: .5rem;
  }
}

.siteBuilderHeader>p {
  margin-bottom: 50px;
}


.siteBuildForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7f9fa;
  width: 100%;
  height: auto;
}

.siteBuildForm>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;

}

.siteBuildFormInput {
  width: 100%;
  border-radius: 7px;
  border: 1px solid #8D8D8D;
  padding: 1rem;
  margin: 1.5rem;

}

.siteBuildFormLabel>label {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1.25rem;
  margin: 1rem 0 1rem 0;
  font-style: normal;
  line-height: 36px;
  /* 120% */
}

.siteBuildPB {
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .siteBuildPB {
    font-size: .75rem;

  }
}

.siteBuildFormLabel {
  text-align: left;

}

.siteBuildContinueButtonB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 95%;
}


.formHeaderB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  width: 70%;
  color: #00426b;

}

@media (max-width: 768px) {
  .formHeaderB {
    flex-direction: column;

  }
}

.formHeaderB>h2 {
  color: #00426b;
  font-family: Bitter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0rem 0rem 0.5rem 0rem;
}

.siteBuildContinueButtonB {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 95%;
}

@media (max-width: 768px) {
  .siteBuildContinueButtonB {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.siteBuildBlueButtonB {
  color: #fff;
  text-align: center;
  font-family: Noto Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 100% */
  border: none;
  border-radius: 1.875rem;
  background: #0058b7;
  min-height: 3.75rem;
  padding: 1.25rem 4.313rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 1.25rem;
}

@media (max-width: 768px) {
  .siteBuildBlueButtonB {
    margin: .75rem;
    min-height: 1.75rem;
    padding: 1rem 3rem;
    font-size: 1rem;

  }
}

.siteBuildBlueButtonB:hover {
  cursor: pointer;
}

.headerPB {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00426b;
  font-family: Noto Sans;
  font-size: 1rem;
  margin: 0 10rem;
}

@media (max-width: 768px) {
  .headerPB {
    margin: 1rem 2rem;
  }
}